html,
body,
#app {
  width: 100%;
  height: 100%;
}
html {
  background-color: #ccc;
}
.row {
  display: flex;
  width: min-content;
}
.row.header {
  font-weight: bold;
}

.col.index {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 2px;
  width: 30px;
}
